body {
  margin: 0;
}

.fa-bars {
  display: none;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.dark {
  color: gray;
  background-color: #333;
}

/*HEADER*/

header .container {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1em;
  background: black;
  margin-right: 1em;
}

li {
  padding: 1em;
}

a, a:active, a:link {
  color: inherit;
  text-decoration: none;
}

/*MAIN*/

main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 2em;
}

main section {
  height: 50%;
}

.space {
  width: 33%;
  height: 100%;
}

.banner {
  width: 66%;
  height: 100%;
}

.articles {
  display: flex;
}

.banners {
  margin-top: 1em;
}

.articles article {
  width: 33%;
  margin: 1em;
}

figure {
  margin: 0;
}

figure img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

/*FOOTER*/

footer {
  height: 10vh;
  display: flex;
  align-items: center;
}

footer section {
  height: 30%;
}

/*ADAPTIVE*/

@media (max-width: 600px) {
  .articles {
    flex-direction: column;
  }
  .articles article {
    width: 100%;
  }
  main {
    height: auto;
  }
  nav {
    display: none;
  }
  .fa-bars {
    display: inline;
  }
  .fa-bars:hover {
    cursor: pointer;
  }
}
